@import 'styles/variables';
body {
    background: linear-gradient(#FFFFFF, #F0F0F0);
    background-image: url('../../assets/bola_logo.png');
    background-position: 0 21.48vh;
    background-repeat: no-repeat;
}
.container {
    .content {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 6.97vw;
        text-align: end;
        margin-top: 15.37vh;
        h2 {
            margin: 0;
            font-size: 36px;
            color: $red;
            padding: 3px;
        }

        p{
            margin: 0;
            font-size: 24px;
            color: $black;
            padding: 3px;
        }

        h1 {
            margin: 0;
            font-size: 64px;
            color: $red;
            padding: 3px;
        }
    }
}

@media only screen and (max-width: 768px) {
    body {
        background-size: 50%;
        background-position: -30px 300px;
    }
    html {
         line-height: 1.20;
    }
    .container {
        .content {
         margin-right: 10px;
         margin-top: 80px;   
         margin-bottom: 80px;
         h2 {
             font-size: 16px;
         }
 
         p {
             font-size: 12px;
         }
 
         h1 {
             font-size: 28px;
         }
        }
     }
}

@media only screen and (max-width: 700px) {
    body {
        background-size: 0;
    }
}